.ecriture{
    color: rgb(90, 13, 90);
}
.back
{
    background-color: rgb(236, 246, 236);
}
.header {
    text-align: center;
    color: rgb(13, 102, 255);
    margin: 5px;
}

h3.underline {
        text-decoration: underline;
    }

.title-container {
    flex: 2;
    text-align: center;
}

.trav{
    color: black;
    background-color: white;
}